body {
    margin: 0;
    padding: 0;
    background-color: #9ec5e9;
}
.container {
    background: #9ec5e9;
    color: #564fb9;
    max-width: 200%;
    min-height: 80vh;
}
header {
    font-size: xx-large;
    font-family: Georgia;
    background: #4ee739;
    color: #fff;
    padding: 10px 0;
    height: 300px;
    border-radius: 5px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav ul li {
    margin: 0;
}

form {
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.itemInput {
    align-items: center;
    background-color: #9ec5e9;
    display: flex;
    font-size:30px;
    padding: 15px;
    width:350px;
    border-radius: 10px;
}
.submit-btn {
    width: 200px;
    padding: 50px;
    background: #333;
    color: #fff;
    font-size: 30px;
    height: 100%;
    border-radius: 10px;
}

h1 {
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
}

.search-result{
    background-color: #4ee739;
    height: 1000px;
    padding:20px;
    height: max-content;
}
.search-word{
    margin: auto;
    font-style:italic;
    background-color: #9ec5e9;
    font-size:30px;
    padding: 15px;
    width:700px;
    height: max-content;
}
.description{
    margin: auto;
    background-color: #9ec5e9;
    font-size:20px;
    padding: 15px;
    width:700px;
    height: max-content;
}

footer {
    text-align: center;
    padding: 30px;
    background: #333;
    color: #fff;
    height: 300px;
    font-size: 30px;
}

footer a {
    color: #4ee739;
    text-decoration: none;
}